'context-menu':
  'atom-text-editor': [
    {
      'label': 'Follow Link'
      'command': 'atom-notelink:follow'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'atom-notelink'
      'submenu': [
        {
          'label': 'Follow Link'
          'command': 'atom-notelink:follow'
        }
      ]
    ]
  }
]
