# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Follow Link'
      'command': 'zettelkasten-wiki:follow'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'zettelkasten-wiki'
      'submenu': [
        {
          'label': 'Follow Link'
          'command': 'zettelkasten-wiki:follow'
        }
      ]
    ]
  }
]
