'.platform-darwin atom-workspace atom-text-editor:not([mini])':
  'ctrl-enter': 'notelink:follow'
  'ctrl-alt-c': 'notelink:copylink'

'.platform-linux atom-workspace atom-text-editor:not([mini])':
  'alt-enter': 'notelink:follow'
  'alt-c': 'notelink:copylink'

'.platform-win32 atom-workspace atom-text-editor:not([mini])':
  'alt-enter': 'notelink:follow'
  'alt-c': 'notelink:copylink'
